<h3>Customize saved visualization for {{model.dataset.name}} {{model.dataset.year}}</h3>
{{#link-to 'visualization' model}}
  <span class="btn btn-info btn-sm">Back</span>
{{/link-to}}
<div class="form-group">
  <label for="graph-color">Graph color</label>
  {{input type="text"
          class="form-control"
          id="graph-color"
          placeholder="Enter a hex code!"
          value=model.color}}
</div>
<button class="btn btn-info btn-sm" {{action "updateVisualization" model.color model on="click"}}>Save</button>

{{visualizr-dataset/graph dataset=model.dataset color=model.color}}
